<!DOCTYPE html>
<html lang="en-gb">
	<head>
		<meta charset="utf-8">
        <meta name="msvalidate.01" content="7BFAB72892EDD0271CC0CC7B89664F3B" />
        <meta name="google-site-verification" content="UOouO-FLDXINpgkCqGnVZtDeWC7nNwW6GEq6n9fWFhA" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1.0, maximum-scale=10, minimum-scale=0">
		<title><%=@pagetitle%></title>
        <meta name="description" content="<%=html_escape(@pagedesc)%>">
        <%if @botprot%>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <%end%>
        <%if @maincss=="main"%>
		<link rel="stylesheet" href="/style/reset.css">
        <%end%>
        <link rel="stylesheet" href="/style/<%=@maincss%>.css">
        <%if session[:dyslexic]%>
        <link rel="stylesheet" href="/style/dyslexic.css">
        <%end%>
        <link rel="stylesheet" media="(max-width: 768px)" href="/style/mobile.css">
		<link rel="icon" href="/images/mco.png">
	</head>
	<body>
		<header>
            <a href="/" class="fullradius"><img src="/images/mco.png" alt="logo"/></a>
            <h1>Marcy Brook</h1>
            <input type="checkbox" class="nav mobonly">
            <nav>
                <a href="/">Home</a>
                <a href="/tools">Tools</a>
                <a href="/blog">Blog</a>
                <a href="/projects">Projects</a>
                <a href="/about">About</a>
            <%if session[:logged_in]%>
            
            </nav>
            <a href="/logout" class="unround"><img src="<%=session[:logo]%>" title="Click to log out"/></a>
            <%else%>
                <a class="rec" href="/login">Log in with Github </a>
            </nav>
            <%end%>
            <%if session[:debug]%>
            <span class=" code">
                <div>
                    <p>Debug: <%=session[:debug]%></p>
                    <p>Account ID: <%=session[:uid]%></p>
                    <p>Admin: <%=@isadmin%></p>
                </div>
                <div>
                    <p>Property: null</p>
                    <p>Property: null</p>
                    <p>Property: null</p>
                </div>
            </span>
            <%end%>
		</header>
        <div class="content">