<%@pagetitle="MxMBrook - Marcy\'s Homepage"%>
<%@pagedesc="MxMBrook.co.uk. This is the personal website of Marcy Brook, a Computer Science student at the University of Sheffield. This site contains a range of tools and projects, as well as a blog."%>
<%=erb :header%>
		<article>
			<h1>Welcome!</h1>
			<p>Hi! I'm Marcy, and this is my website.</p>
            <p class="adj">For all information, please visit the <a href="/about">about page</a>.</p>
            <%if @isadmin%>
            <p class="adj">You are logged in as an admin. <a href="/admin">Click here for admin pages</a></p>
            <%end%>
		</article>
        <span>
        <article class="stick">
            <h1>Quick Access</h1>
            <p><a href="/">Home</a></p>
            <p class="adj"><a href="/tools">Tools</a></p>
            <p class="adj"><a href="/blog">Blog</a></p>
            <p class="adj"><a href="/projects">Projects</a></p>
            <p class="adj"><a href="/about">About</a></p>
            <p class="adj"><a href="/contact">Contact</a></p>
        </article>
        <article class="blog">
            <h1>Latest Blog Post:</h1>
            <div class="br"></div>
            <h1><%=@entry["title"]%></h1>
            <p class="note">Published <%=@entry["date"]%> UTC</p>
            <p class="adj"><%=@entry["content"]%></p>
        </article>
        </span>
<%=erb :footer%>