<%@pagetitle="Blog"%>
<%=erb :header%>
        <div class="blogfeed">
        <article class="blog" style="background-color: <%=@entry["color"]%>">
            <form method="post">
                <label for="task"><h2>Task (Title)</h2></label>
                <textarea type="text" class="invisible" name="task" placeholder="Enter Task Here" required><%=@entry["task"]%></textarea>
                <label for="notes"><h2>Additional Information</h2></label>
                <textarea type="text" class="invisible"name="notes" placeholder="Enter Notes Here" required><%=@entry["notes"]%></textarea>
                <label for="importance"><h2>Goal/Importance of task</h2></label>
                <textarea type="text" class="invisible" name="importance" placeholder="Enter Importance Here" required><%=@entry["importance"]%></textarea>
                <label for="notif"><h2>Date of next update</h2></label>
                <input type="date" name="notif" placeholder="Enter Deadline Here" value="<%=@entry["notif"]%>" required/>
                <label for="color"><h2>Colour</h2></label>
                <input type="color" name="color" placeholder="Enter Colour Here" value="<%=@entry["color"]%>" required/>
                <span>
                    <input type="submit" class="shadowed" value="Save Changes"/>
                    <a href="/admin/todo" class="mocsubmit shadowed">Back</a>
                </span>
            </form>
        </article>
        </div>
<%=erb :footer%>