<%- content_for(:page_title, "Chat")%>
<%- content_for(:page_description, "Go ahead. Chat.")%>
<article>
  <%= javascript_pack_tag 'application'%>
  <h1>Chat <%=params[:roomno]%></h1>
  <h3 id="err" style="color:red;"></h3>
  <p class="adj">Hint: type \w [name] [message] to whisper. Names are case sensitive. You are: <%=session[:nickname]%></p>
  <p class="adj"><a href="/tools/chat">Back</a></p>
  <div id="messages">
    <%lasttimestamp=""%>
    <%@messages.each do |message|%>
    <%if message["chat"]==params[:roomno]%>
    <%if message["type"]=="create"%>
    <div class="notif">
      <p>Chat <%=message["chat"].sub(/ .*/,"")%> was created by <%=message["author"]%></p><%@admin=message["author"]%>
    </div>
    <%end%>
    <%if message["type"]=="message" or message["type"]=="whisper"%>
    <%if message["timestamp"]!=lasttimestamp%>
    <%lasttimestamp=message["timestamp"]%>
    <p class="adj timestamp"><%=lasttimestamp%></p>
    <%end%>
    <%end%>
    <%if message["type"]=="message"%>
    <div class="message" title="<%=message["timestamp"]%>">
      <p<%if message["author"]==@admin%> class="admin"<%elsif message["author"]==session[:nickname]%> class="self"<%end%>><%=message["author"]%></p><p><%=message["message"]%></p>
    </div>
    <%end%>
    <%if message["type"]=="whisper"%>
    <%if @canwhisper or session[:nickname]==message["author"] or session[:nickname]==message["recipient"]%>
    <div class="message" title="<%=message["timestamp"]%>">
      <p<%if message["author"]==session[:nickname]%> class="self"<%end%>>(whisper to <%=message["recipient"]%>) <%=message["author"]%></p><p class="whisper"><%=message["message"]%></p>
    </div>
    <%else%>
    <div class="hint">
      <p><%=message["author"]%> whispered to <%=message["recipient"]%></p>
    </div>
    <%end%>
    <%end%>
    <%end%>
    <%end%>
  </div>
  <meta id="admin" content="<%=@admin%>">
  <meta id="canwhisper" content="<%=@canwhisper%>">
  <%= form_for @message,:html =>{:class => 'send'}, remote: true do |f|%>
    <input type="hidden" name="type" value="message"/>
    <input type="hidden" id="nickname" name="author" value="<%=session[:nickname]%>"/>
    <input type="hidden" id="roomno" name="chat" value="<%=params[:roomno]%>"/>
    <%= f.text_area :content, disabled: @mutelist.has_key?(session[:nickname]), required: true, autocomplete: "off"%>
    <%= f.submit "Send Message", id:"submitbutton", disabled: @mutelist.has_key?(session[:nickname])%>
    <div/>
  <%end%>
  <style>
    form.send>textarea{
      min-width:100%;
      max-width:100%;
      width:100%;
      min-height:1rem;
      border-bottom-left-radius:0.3rem;
      border-bottom-right-radius:0.3rem;
      box-sizing:border-box;
    }
    div#messages{
      box-sizing:border-box;
      background-color:var(--medium-color);
      width:100%;
      padding:0.4rem;
      max-height:60vh;
      overflow:auto;
      box-shadow:0 0 3px var(--shadow) inset;
      border-top-left-radius:0.3rem;
      border-top-right-radius:0.3rem;
    }
    div.message p, div.notif p{
      box-sizing:border-box;
      background-color:var(--top-color);
      padding:0.5rem 0.8rem;
      overflow:auto;
      margin: 0.4rem;
      border-radius:0.3rem;
      box-shadow:0 0 3px var(--shadow);
    }
    div.message{
      display:inline-flex;
      width:100%;
    }
    div.message p:first-child{
      background-color:var(--medium-color);
      margin-right:0;
      border-top-right-radius:0;
      border-bottom-right-radius:0;
      overflow:hidden;
      overflow-wrap:break-word;
      max-width:15rem;
    }
    div.message p:last-child{
      margin-left:0;
      border-top-left-radius:0;
      border-bottom-left-radius:0;
    }
    div.message p.self{
      background-color:blue;
      color:white;
    }
    div.message p.admin{
      background-color:green;
      color:white;
    }
    div.message p.admin:after{
      font-family:"arial unicode ms","Lucidia Sans Unicode",sans-serif;
      content:"\00a0\272A";
      color:white;
    }
    div.message p.whisper{
      background-color:gray;
      box-shadow:0 0 5px yellow;
    }
    p.timestamp{
      width:100%;
      font-size:0.8rem;
      color:#777777;
      text-align:center;
      padding:0;
      margin:0;
    }
    input:disabled, textarea:disabled{
      background-color:lightgray;
      cursor:not-allowed;
    }
    input:disabled~div::after{
      content:"You are Muted";
      color:red;
    }

  </style>
</article>

<article>
  <div style="display:grid; grid-template-columns: 50% 50%;">
  <div style="overflow:auto;">
  <h2>Players in this chat</h2>
  <%@here.keys.each do |pla|%>
  <%if pla!="Umpire"%><p class="adj"><%=pla%></p><%end%>
  <%end%>
  </div>
  <div style="overflow:auto;">
  <h2>Players in the game</h2>
  <h2 style="color:green;">alive</h2>
  <%@players.each do |pla|%>
  <%if pla!="Umpire" and !@dead.has_key?(pla)%><p class="adj"><%=pla%></p><%end%>
  <%end%>
  <h2 style="color:red;">dead</h2>
  <%@dead.keys.each do |pla|%>
  <%if pla!="Umpire"%><p class="adj"><%=pla%></p><%end%>
  <%end%>
  </div>
  </div>
  <br/>
  <h3>Refresh the page to update these lists.</h3>
</article>
<script>
  var mone=document.getElementsByClassName("message");
  mone[mone.length-1].scrollIntoView(false);
</script>

