<%- content_for(:page_title, "Chat")%>
<%- content_for(:page_description, "Go ahead. Chat.")%>
<article>
  <h1>Lockdown Game Chat</h1>
  <%if !session[:nickname].nil?%>
  <h3>Your name is: <%=session[:nickname]%></h3>
  <%end%>
  <%if session[:nickname]=="Umpire"%>
  <p><a href="/tools/chat/umpire">Click here for Umpire Controls</a></p>
  <%end%>
  <%if session[:nickname].nil?%>
  <p>Welcome! Begin by setting your nickname. This will be your psuedonym for the game, but without special characters and with spaces replaced with underscores.</p>
  <p class="adh">Set your nickname (Only A-Z, 0-9, or _):</p>
  <form method="post" action="/tools/chat/nickname">
    <input type="text" name="nickname" placeholder="<%=session[:nickname]%>" title="A-Z, 0-9, or _ only" patten="[A-Za-z0-9_]+" required/>
    <input type="submit" value="Set Nickname"/>
  </form>  
  <%elsif !@chats.nil?%>
  <br/>
  <h2>Choose a chat room:</h2>
  <%@chats.each do |room|%>
  <p class="adj"><a href="/tools/chat/<%=room%>"><%=room%></a> (<%=(@counts[room]||0)-(session[:receipts][room]||0)%> unread)</p>
  <%end%>
  <%else%>
  <p>It doesn't look like you have access to any chats :'(</p>
  <p class="adj">If you believe this to be a mistake, contact the umpire.</p>
  <%end%>
  <%if session[:nickname]=="Umpire"%>
  <h2>Chat with a specific player:</h2>
  <%@players.each do |room|%>
  <p class="adj"><a href="/tools/chat/<%=room%>"><%=room%></a> (<%=(@counts[room]||0)-(session[:receipts][room]||0)%> unread)</p>
  <%end%>
  <%elsif !session[:nickname].nil?%>
  <h2>Chat with the Umpire:</h2>
  <p class="adj"><a href="/tools/chat/<%=session[:nickname]%>">Message the Umpire</a> (<%=(@counts[session[:nickname]]||0)-(session[:receipts][session[:nickname]]||0)%> unread)</p>
  <%end%>
</article>
