<%- content_for(:page_title, "Chat")%>
<%- content_for(:page_description, "Go ahead. Chat.")%>
<article>
  <%= javascript_pack_tag 'application'%>
  <h1>Umpire Control Page</h1>
  <h2>Create a new chat room (Only A-Z, 0-9, or _):</h2>
  <form method="post" action="/tools/chat/new">
    <input type="text" name="name" placeholder="Enter chat name here" title="A-Z, 0-9, or _ only" patten="[A-Za-z0-9_]+" required/>
    <input type="submit" value="Create Room"/>
  </form>
  <br/>
  <h2>Access Control</h2>
  <section style="overflow:auto;">
  <table>
    <tr>
      <th>Chat name</th>
      <%@players.each do |player|%>
      <th>
        <%=player%>
      </th>
      <%end%>
      <th>Submit Changes</th>
    </tr>
    <%@chats.each do |chat|%>
    <tr>
        <td>
          <form method="post" id="<%=chat%>" action="/tools/chat/umpire">
            <input type="hidden" name="chat" value="<%=chat%>">
          </form>
          <%=chat%>
        </td>
        <%@players.each do |player|%>
        <td>
          <input type="checkbox" name="perm[<%=player%>]" form="<%=chat%>"<%if @perms[chat].has_key?(player)%> checked<%end%>>
        </td>
        <%end%>
        <td><input type="submit" form="<%=chat%>"></td>
    </tr>
    <%end%>
  </table>
  </section>
  <style>
    th, td{
      padding:0.5rem;
      border:1px yellow solid;
    }
    th, td:first-child{
      font-weight:bold;
    }
  </style>
</article>
