<%- content_for(:page_title, "Chat")%>
<%- content_for(:page_description, "Go ahead. Chat.")%>
<article>
  <%= javascript_pack_tag 'application'%>
  <h1>Chat <%=params[:roomno]%></h1>
  <p class="adj"><a href="/tools/chat">Back</a></p>
  <div id="messages">
    <%@messages.each do |message|%>
    <%if message["chat"]==params[:roomno]%>
    <%if message["type"]=="create"%>
    <div class="notif">
      <p>Chat <%=message["chat"].sub(/ .*/,"")%> was created by <%=message["author"]%></p><%@admin=message["author"]%>
    </div>
    <%end%>
    <%if message["type"]=="message"%>
    <div class="message">
      <p<%if message["author"]==@admin%> class="admin"<%elsif message["author"]==session[:nickname]%> class="self"<%end%>><%=message["author"]%></p><p><%=message["message"]%></p>
    </div>
    <%end%>
    <%if message["type"]=="whisper"%>
    <%if session[:nickname]==message["author"] or session[:nickname]==message["recipient"]%>
    <div class="message">
      <p<%if message["author"]==session[:nickname]%> class="self"<%end%>>(whisper) <%=message["author"]%></p><p class="whisper"><%=message["message"]%></p>
    </div>
    <%else%>
    <div class="hint">
      <p>You hear a whisper.</p>
    </div>
    <%end%>
    <%end%>
    <%end%>
    <%end%>
  </div>
  <meta id="admin" content="<%=@admin%>">
  <%= form_for @message,:html =>{:class => 'send'}, remote: true do |f|%>
    <input type="hidden" name="type" value="message"/>
    <input type="hidden" id="nickname" name="author" value="<%=session[:nickname]%>"/>
    <input type="hidden" id="roomno" name="chat" value="<%=params[:roomno]%>"/>
    <%= f.text_area :content, required: true, autocomplete: "off"%>
    <%= f.submit%>
  <%end%>
  <style>
    form.send>textarea{
      min-width:100%;
      max-width:100%;
      width:100%;
      min-height:1rem;
      border-bottom-left-radius:0.3rem;
      border-bottom-right-radius:0.3rem;
      box-sizing:border-box;
    }
    div#messages{
      box-sizing:border-box;
      background-color:var(--medium-color);
      width:100%;
      padding:0.4rem;
      max-height:60vh;
      overflow:auto;
      box-shadow:0 0 3px var(--shadow) inset;
      border-top-left-radius:0.3rem;
      border-top-right-radius:0.3rem;
    }
    div.message p, div.notif p{
      box-sizing:border-box;
      background-color:var(--top-color);
      padding:0.5rem 0.8rem;
      overflow:auto;
      margin: 0.4rem;
      border-radius:0.3rem;
      box-shadow:0 0 3px var(--shadow);
    }
    div.message{
      display:inline-flex;
      width:100%;
    }
    div.message p:first-child{
      background-color:var(--medium-color);
      margin-right:0;
      border-top-right-radius:0;
      border-bottom-right-radius:0;
      overflow:hidden;
      display:inline-table;
    }
    div.message p:last-child{
      margin-left:0;
      border-top-left-radius:0;
      border-bottom-left-radius:0;
    }
    div.message p.self{
      background-color:blue;
      color:white;
    }
    div.message p.admin{
      background-color:green;
      color:white;
    }
    div.message p.admin:after{
      font-family:"arial unicode ms","Lucidia Sans Unicode",sans-serif;
      content:"\00a0\272A";
      color:white;
    }
  </style>
</article>

<article>
  <h2>Players in this chat</h2>
  <%@here.keys.each do |pla|%>
  <%if pla!="Umpire"%><p class="adj"><%=pla%></p><%end%>
  <%end%>
</article>


