<%- content_for(:page_title, "TILI/TIHI Roulette")%>
<%- content_for(:page_description, "Take a gamble at getting an image either from /r/TILI or /r/TIHI.")%>
<article>
  <h1>TILI/TIHI Roulette</h1>
  <p>Every time you refresh this page, it will choose a post from the top of either /r/TIHI or /r/TILI with no way to know which one it is in advance.</p>
  <p>Click "expand" to reveal the source.</p>
  <p><%=@redtext%></p>
  <input type="checkbox" class="expand">
  <p class="collapse adj">Original Post: <a href="https://www.reddit.com<%=@redpost["data"]["permalink"]%>"><%=@redpost["data"]["title"]%></a></p>
  <p class="collapse adj">Subreddit: <%=@redpost["data"]["subreddit_name_prefixed"]%></p>
  <div class="br"></div>
  <img src="<%=@redpost["data"]["url"]%>" alt="random image" class="redimg"/>
  <p><a href="<%=@redpost["data"]["url"]%>">Direct link (click here if it's not displaying correctly)</a></p>
</article>
